* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --purple-200: #2e2beb;
    --purple-500: #5106a7;
    --purple-800: #061988;
    --purple-900: #a5aef7;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray-200);

}

.buttom {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0.2px solid var(--purple-200);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;

}

.buttom:hover {
    background-color: var(--purple-800);
    color: var(--gray-200);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_conteiner {
    max-width: 100%;
    background-color: var(--purple-800);
    position: sticky;
    top: 0;
    filter: opacity(0.9);
    height: 80px;
    display: flex;
}

.menu_conteiner a {
    font-size: 20px;
    color: var(--white);
    font-weight: bold;
}

.menu_conteiner a:hover {
    color: var(--purple-200);
}

.menu_content {
    max-width: 100%;
    padding: 0 24px 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_list li {
    font-size: 20px;
    list-style: none;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.primeiro_menu {
    margin: 5px;
    padding: 100px 120px 120px 160px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    text-align: center;
}

.primeiro_menu h1 {
    font-size: 50px;
    color: var(--purple-800);
    font-weight: bold;
    padding-bottom: 30px;
}

.primeiro_menu p {
    font-size: 20px;
    color: var(--black-800);
    padding-bottom: 50px;
}

.primeiro_menu a {
    font-size: 20px;
    color: var(--purple-800);
    font-weight: bold;
}

.primeiro_menu h2 {
    font-size: 30px;
    color: var(--black-800);
    font-weight: bold;
    padding-bottom: 30px;
}

.primeiro_menu img {
    border-radius: 500px;
}

.sobre_container {
    max-width: 1120px;
    margin: -24px auto;
    padding: 0 16px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre_container img {
    display: flex;
    width: 35%;
    border: 2px solid var(--purple-800);
    border-radius: 50%;
}

.sobre_container h1 {
    font-size: 40px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    color: var(--purple-800);
}

.sobre_container p {
    font-size: 20px;
    text-align: center;
    margin: 16px 0;
    flex-direction: column;
}

#sobre_texto {
    margin-left: 30px;
}

.sobre_container a {
    color: var(--purple-800);
    flex-direction: row;
    padding: 15px 10px 15px 10px;
    border: 0.2px solid var(--purple-200);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-evenly;
    margin: 120px 15px 15px 110px;

}

.sobre_container span {
    font-size: 20px;
    color: var(--black-800);
    font-weight: bolder;
    padding: 15px 15px 5px 15px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.sobre_container a:hover {
    background-color: var(--purple-800);
    color: var(--gray-200);
    cursor: pointer;
}
.contato {
    min-width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
    text-align: center;
    margin-bottom: 190px;
    margin-top: 120px;
    gap: 30px;
}

.contato h4 {
    font-size: 50px;
    color: var(--purple-800);
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.contato p {
    font-size: 20px;
    color: var(--black-800);
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    padding-right: 10px;
}

.forms {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
    text-align: center;
    gap: 15px;
    background-color: var(--purple-900);
    border: 2px solid var(--purple-800);
    border-radius: 10px;
    padding: 20px;
}

.forms input,
textarea {
    padding: 12px 12px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    box-sizing: content-box;
    width: 90%;
    margin: auto;
}

.forms button {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    box-sizing: content-box;
    width: 90%;
    margin: auto;
    background-color: var(--purple-800);
    color: var(--white);

}

.forms button:hover {
    background-color: var(--purple-200);
    border-radius: 10px;
    cursor: pointer;

}

.forms label {
    font-size: 20px;
    color: var(--black-800);
    font-weight: bold;
}

.forms ::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.forms a {
    background-color: var(--purple-800);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}

.icones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.icones :hover {
    background-color: var(--purple-800);
    color: var(--gray-200);
    border-radius: 10px;
}

footer {
    background-color: var(--purple-800);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}